<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @score.name %>
</p>

<p>
  <b>Score:</b>
  <%= @score.score %>
</p>

<p>
  <b>Game id,:</b>
  <%= @score.game_id, %>
</p>

<p>
  <b>Tkey:</b>
  <%= @score.tkey %>
</p>


<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
