<div class='landing-page container'>
	<h1>Scoreboard</h1>
	
	<%= form_for(@tournament) do |f| %>
	  <% if @tournament.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

	      <ul>
	      <% @tournament.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.text_field :email %>
	  </div>
	  <div class="field">
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </div>
<!-- 	  <div class="field">
	    <%= f.label :desc %><br />
	    <%= f.text_field :desc %>
	  </div> -->
	  <div class="actions">
	    <%= f.submit 'Submit', :class => "add-button" %>
	  </div>
	<% end %>
	
	<div id="tmain">
		
		<% @live_tournaments.each do |lt| %>
		
			<% colornum = rand(23) + 1%>
			<%= link_to lt.name, scoreboard_path(lt.tkey), :class => 'tpanel', :data => { :color => colornum} %>
		
		<% end %>
		
	</div>

	
</div>

<script type="text/javascript">
	$(document).ready {
		$(".tpanel").each(function() {
			var color = $(this).data('color') * 10;
			$(this).css('background-color','hsl(' + color + ' , 100%, 50%)');
		});
}

</script>
