<div class='container'>
	
	<!-- tournament -->	
	<section>
		<h1 id="tournamentName" contenteditable="">Scoreboard</h1>
		<p>Track tournament scores. </p>
	<section>
	
	<!-- tournament details -->	
	<section>
		<br/ >
		<br />
		<div class="stages">
			<div id="stage1" class="stage">
				<div class="game 1v1">
					<h1><%= "Tournament name : #{@tournament.name}"%></h1>
					<p><%= "Tournament  : #{@tournament.email}"%></p>
					<p><%= "Tournament description : #{@tournament.desc}"%></p>
				</div>
			</div>
		</div>
	</section>
	
	<!-- tournament Score updates -->
	<section>
		<br />
		<br />
		<%= form_tag("/scoreupdate/#{params[:id]}", method: :post ) do %>
		    <%= label_tag 'p1', 'player 1' %>
			<%= text_field_tag 'p1' %>
			
			<%= label_tag 's1', 'score 1' %>
			<%= text_field_tag 's1' %>
			
		    <%= label_tag 'p2', 'player 2' %>
			<%= text_field_tag 'p2' %>

		    <%= label_tag 's2', 'score 2' %>
			<%= text_field_tag 's2' %>
			
			<div class="actions">
		    <%= submit_tag "Submit" %>
		  </div>
		<% end %>
		
	</section>
	
	
	<!-- tournament Score results -->
	<section>
		
		<table class="table table-striped table-bordered">
			<br />
			<br />
			<thead>
				<tr>
		  			<th><%= 'Player' %></th>
		  			<th><%= 'Score' %></th>
				</tr>
			</thead>
			<tbody>
			    	<% @score_hash.each do |k, v| %>
			      		<tr>
							<td><%= k %></td>
							<td><%= v %></td>
			      		</tr>
			    	<% end %>
			</tbody>	
		</table>
	</section>
</div>