<div class='container'>
	
	<!-- tournament -->	
	<section>
		<h1>Scoreboard</h1>
		<p class="intro-text">Track tournament scores. </p>
	<section>
	
	<!-- tournament details -->	
	<section>
		<br/ >
		<br />
		<div class="stages">
			<div id="stage1" class="stage">
				<div class="1v1">
					<p id="tournamentName"><%= "Tournament name : #{@tournament.name}"%></p>
					<p><%= "Tournament  : #{@tournament.email}"%></p>
					<p><%= "Tournament description : #{@tournament.desc}"%></p>
				</div>
			</div>
		</div>
	</section>
	
	<!-- tournament Score updates -->
	<section>
		<%= form_tag("/scoreupdate/#{params[:id]}", method: :post, :class => "panel game") do %>
		    <%= label_tag 'p1', 'Player 1' %>
			<%= text_field_tag 'p1', nil, :class => "input-field input-name" %>

			<%= label_tag 's1', 'Score 1' %>
			<%= number_field_tag 's1', nil, :class => "input-field input-score" %>

			<br />
			
		    <%= label_tag 'p2', 'Player 2'%>
			<%= text_field_tag 'p2', nil, :class => "input-field input-name" %>

		    <%= label_tag 's2', 'Score 2' %>
			<%= number_field_tag 's2', nil, :class => "input-field input-score" %>
			
			<div class="actions">
		    <%= submit_tag "Submit", :class => "add-button" %>
		  </div>
		<% end %>
		
	</section>
	
	<!-- view games played -->
	<section>
		<%= link_to 'View games', games_list_path(params[:id])%>
		
	</section>
	
	
	<!-- tournament Score results -->
	<section>
		
		<table class="panel scoretable">
			<br />
			<br />
			<thead>
				<tr>
		  			<th><%= 'Player' %></th>
		  			<th><%= 'Score' %></th>
				</tr>
			</thead>
			<tbody>
			    	<% @score_hash.each do |k, v| %>
			      		<tr>
							<td><%= k %></td>
							<td><%= v %></td>
			      		</tr>
			    	<% end %>
			</tbody>	
		</table>
	</section>
</div>